@import './vars.scss';

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{$navHeight} - #{$footerHeight});
  width: 100%;

  background: $gray-1100;
  color: $gray-200;

  button {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
