.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navHeight) - var(--footerHeight));
  width: 100%;

  background: var(--gray-1100);
  color: var(--gray-200);

  button {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
