@import './vars';

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: calc(100vh - #{$footerHeight});
  width: 100%;

  background: $primary-background;
  color: $primary-text;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: $maxWidth;
    padding: 4rem 0;

    .grid-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 2.5rem;
      }
      .section-text {
        width: 90%;
        padding: 1rem 0 1rem 0;
        margin: 0 auto 1rem auto;
      }
      .contact-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        margin-bottom: 1rem;

        text-align: left;
      }
      .address {
        .text span {
          display: block;
        }
      }

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon {
        color: $secondary;
        font-size: 1.5rem;
      }
    }
    .info {
      height: fit-content;
      padding-bottom: 2rem;
    }
    .form {
      width: 100%;
      padding-top: 2rem;

      text-align: left;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 90%;

        label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          color: $gray-200;

          &:focus-within {
            color: $secondary;
          }
        }
        input,
        textarea {
          box-sizing: border-box;
          width: 100%;
          padding: 0.5rem 0.5rem;
          margin-top: 0.25rem;
          border: none;
          border-radius: $borderRadius;
          border: 1px solid $gray-800;

          background: none;
          background: $gray-900;
          outline: none;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          color: $gray-200;

          &:focus {
            border: 2px solid $secondary;
          }
        }
        input {
          height: 45px;
        }
        button.submit {
          margin: 0;
          margin-top: 1rem;
          margin-right: auto;
        }
      }
    }
  }
  @media screen and (min-width: $md) {
    .container {
      max-width: 800px;
      h1 {
        font-size: 3rem;
      }
    }
  }
  @media screen and (min-width: $lg) {
    .container {
      align-items: center;
      width: 95%;
      max-width: $maxWidth;
      gap: 2rem;

      .info {
        border: none;
      }
      .form {
        padding: 0;
      }
    }
  }
}
