.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: calc(100vh - var(--navHeight) - var(--footerHeight));
  width: 100%;
  background: var(--gray-1100);
  color: var(--gray-200);
}

.contact-page .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 4rem 0;
}

.contact-page .container .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact-page .container .grid-item h1 {
  margin: 0;
}

.contact-page .container .grid-item .section-text {
  width: 90%;
  padding: 1rem 0 1rem 0;
  margin: 0 auto 1rem auto;
}

.contact-page .container .grid-item .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  text-align: left;
}

.contact-page .container .grid-item .address .text span {
  display: block;
}

.contact-page .container .grid-item .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page .container .grid-item .icon {
  color: var(--secondary);
  font-size: 1.5rem;
}

.contact-page .container .info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2rem;
}

.contact-page .container .form {
  width: 100%;
  padding-top: 2rem;
  text-align: left;
}

.contact-page .container .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 90%;
}

.contact-page .container .form form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  color: var(--gray-200);
}

.contact-page .container .form form label:focus-within {
  color: var(--secondary);
}

.contact-page .container .form form input,
.contact-page .container .form form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-top: 0.25rem;
  border: none;
  border-radius: var(--borderRadius);
  border: 1px solid var(--gray-800);
  background: none;
  background: var(--gray-900);
  outline: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--gray-200);
}

.contact-page .container .form form input:focus,
.contact-page .container .form form textarea:focus {
  border: 2px solid var(--secondary);
}

.contact-page .container .form form input {
  height: 45px;
}

.contact-page .container .form form button.submit {
  margin: 0;
  margin-top: 1rem;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .contact-page .container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1024px) {
  .contact-page .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    max-width: var(--maxWidth);
    gap: 2rem;
  }
  .contact-page .container .info {
    border: none;
  }
  .contact-page .container .form {
    padding: 0;
  }
}
/*# sourceMappingURL=Contact.css.map */