.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--footerHeight);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;

  background: var(--secondary);

  img {
    max-height: 60px;
  }

  p {
    margin: 0;
  }
}
