@import './vars.scss';

.home-hero {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: calc(80vh);
  width: 100%;

  background-image: url('/hero-background.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    max-width: $maxWidth;
    width: 90%;
    margin-top: 8rem;

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 1.15rem;
      .title {
        text-align: center;
        max-width: 600px;
        color: $primary-light-text;
        margin: 0;
      }
      p.description {
        text-align: center;
        color: $secondary-light-text;
        max-width: 450px;
        margin: 0 auto;
      }
      button.learn-more-btn {
        padding: 14px 30px;
        border-radius: 20px;
        width: fit-content;
        background: none;
        border: 2px solid $primary-light-text;
        color: $primary-light-text;
        font-weight: 700;
        margin: 0 auto;
        margin-bottom: 10rem;

        &:hover {
          background: $primary-background;
          color: $primary !important;
        }
      }
    }

    .hero-img-container {
      width: 250px;
      img {
        object-fit: contain;
        width: 250px;
      }
    }
    .btns {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: 600px;
      padding-bottom: calc(#{$navHeight} * 2);
    }
    .btns button {
      flex: 1;
      max-width: 40%;
    }

    @media screen and (min-width: $md) {
      flex-direction: row;
      justify-content: center;
      margin-top: 0rem;
      .text-content {
        gap: 1.5rem;
        .title {
          text-align: start;
          max-width: 450px;
          font-size: 1.75rem;
        }
        p.description {
          text-align: start;
        }
        button.learn-more-btn {
          margin: 0;
        }
      }
      .hero-img-container {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
    @media screen and (min-width: $lg) {
      .hero-img-container {
        width: 450px;
        img {
          width: 450px;
        }
      }
      .text-content {
        .title {
          font-size: 1.75rem;
        }
      }
    }
  }
}
