@import './vars';

.navbar {
  width: 100%;

  background: $gray-100;
  text-transform: capitalize;

  .nav-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: $maxWidth;
    margin: 0 auto;

    .nav-header {
      position: relative;

      display: flex;
      justify-content: space-between;
      height: $navHeight;
      width: 95%;

      .logo-container {
        display: flex;
        align-items: center;

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          height: $navHeight;
          height: 60%;

          cursor: pointer;
        }
      }

      .nav-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        color: $gray-1000;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 0;
      width: 90%;
      overflow: hidden;

      transition: $transition;

      .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 100%;
        border-top: 1px solid $borderColor;

        color: $gray-1000;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
      }
      .active-link {
        color: $gray-1100;
        text-decoration: underline;
        text-underline-offset: 10px;
      }
    }
    .nav-links.show-links {
      height: 8rem;
    }
    @media screen and (min-width: $sm) {
      flex-direction: row;
      height: $navHeight;
      padding: 0 1rem;

      .nav-btn {
        display: none;
      }

      .nav-links {
        flex-direction: row;
        justify-content: flex-end;
        height: $navHeight;

        .nav-link {
          height: fit-content;
          width: fit-content;
          padding: 0 2rem;
          border: none;
          border-radius: $borderRadius;
        }
        .contact-link {
          padding: 0.5rem 1rem;
          background: $secondary;
        }
      }
      .nav-links.show-links {
        height: 100%;
      }
    }
    @media screen and (min-width: $md) {
      padding: 0 2rem;

      .nav-link {
        margin: 0 1rem;
      }
    }
    @media screen and (min-width: $lg) {
      padding: 0 2rem;
    }
  }
}
