@import './vars';

.navbar {
  background: var(--gray-100);
  width: 100%;
  text-transform: capitalize;

  .nav-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: var(--maxWidth);
    margin: 0 auto;

    .nav-header {
      height: var(--navHeight);
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 95%;

      .logo-container {
        display: flex;
        align-items: center;
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          height: var(--navHeight);
          height: 60%;
          cursor: pointer;
        }
      }

      .nav-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: var(--gray-1000);
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 0;
      width: 90%;
      overflow: hidden;
      // margin-top: var(--navHeight);
      transition: var(--transition);

      .nav-link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        border-top: 1px solid var(--borderColor);
        font-family: 'Montserrat', sans-serif;
        color: var(--gray-1000);
        font-size: 1.25rem;
      }
      .active-link {
        color: var(--gray-1100);
        text-decoration: underline;
        text-underline-offset: 10px;
      }
    }
    .nav-links.show-links {
      height: 8rem;
    }
    @media screen and (min-width: $sm) {
      padding: 0 1rem;
      flex-direction: row;
      height: var(--navHeight);

      .nav-btn {
        display: none;
      }

      .nav-links {
        height: var(--navHeight);
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;

        .nav-link {
          height: fit-content;
          border-radius: var(--borderRadius);
          // background: red;
          border: none;
          width: fit-content;
          padding: 0 2rem;
        }
        .contact-link {
          padding: 0.5rem 1rem;
          background: var(--secondary);
        }
      }
      .nav-links.show-links {
        height: 100%;
      }
    }
    @media screen and (min-width: $md) {
      padding: 0 2rem;
      .nav-link {
        margin: 0 1rem;
      }
    }
    @media screen and (min-width: $lg) {
      padding: 0 2rem;
    }
  }
}
