@import './vars';

.navbar {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;

  text-transform: capitalize;

  .nav-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: $maxWidth;

    .nav-header {
      position: relative;

      display: flex;
      justify-content: space-between;
      height: $navHeight;
      width: 95%;

      .logo-container {
        display: flex;
        align-items: center;
        z-index: 10;

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          height: $navHeight;
          height: 45px;

          cursor: pointer;
        }
      }

      .nav-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 10;

        color: $primary-background;
      }
      .nav-btn.dark-text {
        color: $primary-text;
      }
      .nav-btn.show.dark-text {
        color: $primary-background;
      }
    }

    .nav-links {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      height: 0;
      width: 100vw;
      overflow: hidden;
      box-sizing: border-box;
      opacity: 0;

      transition: $transition;

      .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 100%;
        border-top: 1px solid $borderColor;

        color: $primary-light-text;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.15rem;

        &:hover a {
          border-bottom: 1px solid $primary-light-text;
          margin-bottom: -1px;
        }
      }
      .contact-link {
        height: fit-content;
        width: fit-content;
        padding: 10px 25px !important;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 1.1rem !important;
        border: 2px solid $primary-background !important;
        border-radius: 20px !important;

        &:hover {
          background: $primary-background;
          color: $primary;
        }
      }
    }
    .nav-links.show-links {
      width: 100vw;
      height: 100vh;

      background: $primary;
      padding-bottom: 10rem;
      opacity: 1;
    }
    .nav-links.dark-text {
      .nav-link {
        color: $primary-text;

        &:hover a {
          border-bottom: 1px solid $primary-text;
        }
      }
      .contact-link {
        height: fit-content;
        width: fit-content;
        padding: 10px 25px !important;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 1.1rem !important;
        border: 2px solid $secondary !important;
        border-radius: 20px !important;
        color: $primary-text;
        background: $secondary;

        &:hover {
          // background: $secondary;
          // text-decoration: underline;
          color: $primary-background;
        }
      }
    }
    .nav-links.show-links.dark-text {
      .nav-link {
        color: $primary-light-text;
      }
    }

    @media screen and (min-width: $sm) {
      flex-direction: row;
      height: $navHeight;
      padding: 0 1rem;

      .nav-btn {
        display: none;
      }

      .nav-links {
        flex-direction: row;
        justify-content: flex-end;
        height: $navHeight;
        opacity: 1;

        .nav-link {
          height: fit-content;
          width: fit-content;
          padding: 0 2rem;
          border: none;
          border-radius: $borderRadius;
        }
      }
      .nav-links.show-links {
        height: 100%;
      }
    }
    @media screen and (min-width: $md) {
      padding: 0 2rem;

      .nav-link {
        margin: 0 1rem;
      }
    }
    @media screen and (min-width: $lg) {
      padding: 0 2rem;
    }
  }
}
