// Break Points
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

$primary-text: #313131;
$secondary-text: #4b4b4b;

$primary-light-text: #fff;
$secondary-light-text: rgb(235, 235, 235);

$primary-background: #eee;
$secondary-background: rgb(247, 247, 247);

$primary: #2266ee;
$primary-0: #e6efff;
$primary-50: #cedfff;
$primary-100: #b6cfff;
$primary-200: #86afff;
$primary-300: #558fff;
$primary-400: #3d7fff;
$primary-500: #256fff;
$primary-600: #0b56e5;
$primary-700: #0a4ccc;
$primary-800: #0943b2;
$primary-900: #073999;
$primary-1000: #06307f;
$primary-1100: #031c4c;
$secondary: #f0a208;
$secondary-0: #fff6e6;
$secondary-50: #ffeece;
$secondary-100: #ffdd9e;
$secondary-200: #ffcd6d;
$secondary-300: #ffc455;
$secondary-400: #ffbc3d;
$secondary-500: #ffb425;
$secondary-600: #e59a0b;
$secondary-700: #cc890a;
$secondary-800: #b27809;
$secondary-900: #996707;
$secondary-1000: #7f5606;
$secondary-1100: #664405;
$gray-0: #fafbfc;
$gray-50: #f2f4f8;
$gray-100: #eaedf3;
$gray-200: #e2e7ef;
$gray-300: #dbe0ea;
$gray-400: #d3dae6;
$gray-500: #cbd3e1;
$gray-600: #adb3bf;
$gray-700: #8e949e;
$gray-800: #70747c;
$gray-900: #51545a;
$gray-1000: #333538;
$gray-1100: #141516;
$borderColor: var(--gray-500);
$purple: #5e1aa4;
$red: #ef2020;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$maxWidth: 1100px;
$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Zen Kaku Gothic New', sans-serif;
$navHeight: 5.5rem;
$footerHeight: 8rem;
$borderRadius: 5px;
$transition: 0.3s ease-in-out all;
